USE [master]
GO
/****** Object:  Database [StudySessions]    Script Date: 7/23/2026 12:12:54 AM ******/
CREATE DATABASE [StudySessions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudySessions', FILENAME = N'C:\Users\sange\StudySessions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudySessions_log', FILENAME = N'C:\Users\sange\StudySessions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudySessions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudySessions]
GO
/****** Object:  Table [dbo].[Flashcards]    Script Date: 7/23/2026 12:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flashcards](
	[FlashcardId] [int] IDENTITY(1,1) NOT NULL,
	[FlashcardFront] [nvarchar](400) NOT NULL,
	[FlashcardBack] [nvarchar](400) NOT NULL,
	[StackId] [int] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FlashcardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stacks]    Script Date: 7/23/2026 12:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stacks](
	[StackId] [int] IDENTITY(1,1) NOT NULL,
	[StackName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Stacks_StackName] UNIQUE NONCLUSTERED 
(
	[StackName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySessions]    Script Date: 7/23/2026 12:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySessions](
	[StudySessionId] [int] IDENTITY(1,1) NOT NULL,
	[StackId] [int] NOT NULL,
	[StackName] [nvarchar](100) NOT NULL,
	[SessionDate] [datetime] NOT NULL,
	[Score] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudySessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Flashcards_StackId]    Script Date: 7/23/2026 12:12:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Flashcards_StackId] ON [dbo].[Flashcards]
(
	[StackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Flashcards] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StudySessions] ADD  DEFAULT (getdate()) FOR [SessionDate]
GO
ALTER TABLE [dbo].[Flashcards]  WITH CHECK ADD  CONSTRAINT [FK_Flashcards_Stacks] FOREIGN KEY([StackId])
REFERENCES [dbo].[Stacks] ([StackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Flashcards] CHECK CONSTRAINT [FK_Flashcards_Stacks]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [FK_StudySessions_Stacks] FOREIGN KEY([StackId])
REFERENCES [dbo].[Stacks] ([StackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [FK_StudySessions_Stacks]
GO
USE [master]
GO
